node_modules/
npm-debug.log*
.DS_Store
.env
.env.*
public/data/content.json
Mobile app for android/android/.gradle/
Mobile app for android/android/app/build/
Mobile app for android/android/local.properties
Mobile app for android/android/.idea/
